@using System.Text.Json
@using System.Text.Encodings.Web
@model Lab.Contas.Models.ContaPagarViewModel

@{
    ViewData["Title"] = "Dashboard";

    var contasParaGrafico = Model.ListaContasPagarMes
        .OrderByDescending(x => x.Valor)
        .ThenBy(x => x.Tipo.GetDescription())
        .Select(x => new { value = x.Valor, name = x.Tipo.GetDescription() })
        .ToList();
}

<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="" asp-controller="ContaPagar" asp-action="Index">ContaPagar</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>
</div>
<section class="section dashboard">
    <div class="row">
        <div class="col">
            <div class="card info-card ano-mes-card">
                <div class="card-body">
                    <h5 class="card-title">Selecione um Período</h5>
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-calendar"></i>
                        </div>
                        <div class="ps-3">
                            <form asp-action="Dashboard">
                                <input type="month" name="anoMes" class="form-control" value="@($"{Model.Ano}-{Model.Mes:00}")" min="2022-07" max="2030-12" onchange="submit();"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card info-card total-pagar-card">
                <div class="card-body">
                    <h5 class="card-title">Contas a Pagar <span>| TOTAL</span></h5>
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-emoji-dizzy"></i>
                        </div>
                        <div class="ps-3">
                            <h6>@Model.TotalPagar.ToString("C2")</h6>
                            @if (Model.DiferencaMes > 0)
                            {
                                <span class="text-danger small pt-1 fw-bold">
                                    @(Model.DiferencaMes.ToString("P2"))
                                </span>
                                <span class="text-muted small pt-2 ps-1">aumento</span>
                            }
                            else if (Model.DiferencaMes < 0)
                            {
                                <span class="text-success small pt-1 fw-bold">
                                    @((-Model.DiferencaMes).ToString("P2"))
                                </span>
                                <span class="text-muted small pt-2 ps-1">diminuição</span>
                            }
                            else
                            {
                                <span class="text-muted small pt-1 fw-bold">
                                    @Model.DiferencaMes.ToString("P2")
                                </span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card info-card pago-card">
                <div class="card-body">
                    <h5 class="card-title">Contas a Pagar <span>| PAGO</span></h5>
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-emoji-wink"></i>
                        </div>
                        <div class="ps-3">
                            <h6>@Model.TotalPago.ToString("C2")</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card info-card nao-pago-card">
                <div class="card-body">
                    <h5 class="card-title">Contas a Pagar <span>| NÃO PAGO</span></h5>
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-emoji-expressionless"></i>
                        </div>
                        <div class="ps-3">
                            <h6>@Model.TotalNaoPago.ToString("C2")</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">
                <div class="col-12">
                    <div class="card contas-pagar overflow-auto">
                        <div class="card-body">
                            <h5 class="card-title">Contas a Pagar <span>| Mês @Model.Mes</span></h5>
                            <table class="table table-borderless datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Tipo</th>
                                        <th scope="col">Valor</th>
                                        <th scope="col">Vencimento</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ListaContasPagarMes)
                                    {
                                        <tr>
                                            <td scope="row">
                                                <a asp-action="Edit" asp-route-id="@item.Id">
                                                    #@item.Id
                                                </a>
                                            </td>
                                            <td>@item.Tipo.GetDescription()</td>
                                            <td>@Html.DisplayFor(modelItem => item.Valor)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Vencimento)</td>
                                            <td>
                                                @if (item.Status == Util.StatusContaPagar.NaoPago)
                                                {
                                                    <span class="badge bg-danger">@item.Status.GetDescription()</span>
                                                }
                                                else
                                                {
                                                    <span class="badge bg-success">@item.Status.GetDescription()</span>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right side columns -->
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body pb-0">
                    <h5 class="card-title">Contas a Pagar <span>| Mês @Model.Mes</span></h5>
                    <div id="trafficChart" style="min-height: 400px;" class="echart">
                    </div>
                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            echarts.init(document.querySelector("#trafficChart")).setOption({
                                tooltip: {
                                    trigger: 'item'
                                },
                                legend: {
                                    top: '0%',
                                    left: 'center'
                                },
                                series: [{
                                    name: 'Tipo de Conta',
                                    type: 'pie',
                                    radius: ['40%', '70%'],
                                    avoidLabelOverlap: false,
                                    label: {
                                        show: false,
                                        position: 'center'
                                    },
                                    emphasis: {
                                        label: {
                                            show: true,
                                            fontSize: '18',
                                            fontWeight: 'bold'
                                        }
                                    },
                                    labelLine: {
                                        show: false
                                    },
                                    data: @Html.Raw(JsonSerializer.Serialize(contasParaGrafico))
                                }]
                            });
                        });
                    </script>
                </div>
            </div>
        </div>

    </div>
</section>