@model Lab.Contas.Models.ContaPagar

@{
    ViewData["Title"] = "Conta a Pagar";
}

<div class="pagetitle">
    <h1>Contas a Pagar</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Cadastros</li>
            <li class="breadcrumb-item"><a asp-area="" asp-controller="ContaPagar" asp-action="Index">Contas a Pagar</a></li>
            <li class="breadcrumb-item active">Detalhes</li>
        </ol>
    </nav>
</div>
<section class="section details">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Tipo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Tipo.Descricao)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Valor)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Valor)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Vencimento)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Vencimento)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Observacoes)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Observacoes)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd class="col-sm-10">
                        @Model.Status.GetDescription()
                    </dd>
                </dl>
                <div>
                    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a>
                </div>
            </div>
        </div>
    </div>
</section>
