@model List<UsuarioModel>

@{
    ViewData["Title"] = "Listagem de Usuários";

    string msgSucesso = TempData["MsgSucesso"]?.ToString();
    string msgErro = TempData["MsgErro"]?.ToString();
}

<h1>Listagem de Usuários</h1>
<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a class="btn btn-primary" asp-controller="Usuario" asp-action="Criar" role="button">Adicionar novo usuário</a>
</div>
<br />

<div class="text-center">
    @if (!string.IsNullOrEmpty(msgSucesso))
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-success btn-sm close-alert" aria-label="Close">X</button>
            @msgSucesso
        </div>
    }
    else if (!string.IsNullOrEmpty(msgErro))
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @msgErro
        </div>
    }

    <table id="table-usuario" class="datatable">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Login</th>
                <th scope="col">E-mail</th>
                <th scope="col">Data de Cadastro</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (UsuarioModel usuario in Model)
                {
                    <tr>
                        <td scope="row">@usuario.UsuarioID</td>
                        <td>@usuario.UsuarioNome</td>
                        <td>@usuario.Login</td>
                        <td>@usuario.Email</td>
                        <td>@usuario.DataCadastro</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" asp-action="Editar" asp-controller="Usuario" asp-route-id="@usuario.UsuarioID" class="btn btn-primary">Editar</a>
                                <a role="button" asp-action="ApagarConfirmacao" asp-controller="Usuario" asp-route-id="@usuario.UsuarioID" class="btn btn-danger">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="6">Nenhum usuário encontrado</td></tr>
            }
        </tbody>
    </table>
</div>
